<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>budget Index Page</title>
    <link href="/public/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/skeleton.css" rel="stylesheet" type="text/css">
</head>
<body>
   
    <div class="container">
    <h1><%=`${budgets.name}`%></h1>
    
    <button><a href="/budgets">Back it Up</a></button> <br>
    <h2>date</h3> <br>
    <%=`${budgets.date}`%> <br>
<h3>name</h3> <br>
    <%=`${budgets.name}`%> <br>
<h3>from</h3> <br>
    <%=`${budgets.from}`%> <br>
<h3>amount </h3><br>
    <%=`$${budgets.amount}`%> <br>
<h3>tags</h3> <br>
    <%=`${budgets.tags}`%>
 
    </div> 
</body>
</html>